<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserInfoDAO">
	<resultMap type="com.topia.card.vo.UserInfoTrainingVO" id="UserInfoTrainingVO">
		<result column="TRAINING_IDX" property="trainingIdx"/>
		<result column="USER_IDX" property="userIdx"/>
		<result column="TRAINING_NAME" property="trainingName"/>
		<result column="TRAINING_STARTDATE" property="trainingStartDate"/>
		<result column="TRAINING_ENDDATE" property="trainingEndDate"/>
		<result column="TRAINING_AGENCY" property="trainingAgency"/>
	</resultMap>
	
	<insert id="UserInfoTrainingInsert">
		<selectKey keyProperty="trainingIdx" order="BEFORE" resultType="Integer">
			SELECT USER_INFO_TRAINING_SEQ.NEXTVAL AS trainingIdx FROM DUAL
		</selectKey>
		INSERT INTO USER_INFO_TRAINING 
		(TRAINING_IDX,USER_IDX,TRAINING_NAME,TRAINING_STARTDATE,TRAINING_ENDDATE,TRAINING_AGENCY)
        VALUES
        (
          #{trainingIdx}
         ,#{userIdx}
         ,#{trainingName}
         ,#{trainingStartDate}
         ,#{trainingEndDate}
         ,#{trainingAgency}
         )
	</insert>
	
	<select id="trainingDetailList" resultMap="UserInfoTrainingVO">
		SELECT TRAINING_NAME,TO_CHAR(TO_DATE(TRAINING_STARTDATE),'YYYY-MM-DD') AS TRAINING_STARTDATE,TO_CHAR(TO_DATE(TRAINING_ENDDATE),'YYYY-MM-DD') AS TRAINING_ENDDATE,TRAINING_AGENCY
		FROM USER_INFO_TRAINING
		WHERE USER_IDX = #{userIdx}
	</select>
</mapper>
	